@import url(scss/reset.scss);
@import url(fonts.scss);
@import url(scss/home.scss);
@import url(scss/header.scss);
@import url(scss/footer.scss);
@import url(scss/projet.scss);
@import url(scss/bento.scss);


.main {
    color: white;
    margin: 20px 0;
    font-family: "Gotham";
    max-width: 1024px;
    margin: 50px auto 0;

    h1 {
        font-family: "Gotham black";
        font-size: 32px;
    }

    h2 {
        font-family: "Gotham black";
        font-size: 24px;
    }

    p {
        font-family: "Gotham";
    }

    ul {
        list-style: circle;
        
    }

    ol {
        list-style: decimal;
    }

}

.error_404 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        font-family: "DTGetai";
        color: white;
        font-size: 96px;
        text-transform: uppercase;
        
    }

    h2 {
        font-family: "Gotham BLACK";
        font-size: 48px;
        color: white;
    }

    p {
        font-family: "Gotham Thin";
        font-size: 32px;
        color: white;
        font-style: italic;
        padding-top: 10px;
    }

    a {
        color: #141414;
        font-weight: bold;
        font-family: "Gotham";
        font-style: italic;
        padding: 15px;
        background-color: white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        margin: 30px 0;

        &:hover {
            background-color: #141414;
            color: white;
            transition: all 0.3s ease-in-out;
            box-shadow: white 0px 0px 30px 5px;
        }
    }
}


@media screen  and (max-width: 768px){


    .main {
        padding: 0 20px;
    }


}