.apropos {
    .apropos_title {
        background-color: var(--primary-color);
        z-index: 1;
        position: relative;
        padding: 25px 32px 0;
    }
    svg:first-of-type {
        position: relative;
        transform: translateY(-10px);
        z-index: 0;
    }

    .apropos_content {
        padding: 25px 32px;

        p {
            font-family: var(--secondary-font);
            color: var(--primary-color);
            font-size: 32px;
            padding: 15px 0;
        }
    }

    .recompenses {
        position: relative;

        svg {
            position: absolute;
            top: 0;
        }
        .recompenses_title {
            position: relative;
            padding: 180px 10px 0;
        }   
        
        .recompenses_content {
            background-color: var(--primary-color);
            padding: 100px 10px;
            margin: -30px 0 0;

            .recompense_single {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                .recompense_single_text {
                    width: 70%;
                    padding: 0 15px;
                }

                .recompense_single_image {
                    width: 30%;
                    padding: 0 15px;
                }

                h3 {
                    font-family: var(--primary-font);
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 48px;
                    padding: 15px 0;
                
                }
                
                p {
                    font-family: var(--secondary-font);
                    color: var(--white);
                    font-size: 24px;
                    padding: 15px 0;
                }

                img {
                    max-width: 300px;
                    min-width: 300px;
                    min-height: 300px;
                    max-height: 300px;
                    object-fit: cover;
                    border-radius: 15px;
                
                }
            }

            .recompense_single:nth-child(even) {
                flex-direction: row-reverse;

                .recompense_single_text {
                    text-align: right;
                }
            }

            .recompense_single:nth-child(odd) {
                flex-direction: row;

                .recompense_single_text {
                    text-align: left;
                }

                .recompense_single_image {

                    img {
                        float: right;
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .apropos {
        .apropos_title {
            padding: 25px 10px;
        }

        .apropos_content {
            padding: 25px 10px;

            p {
                font-size: var(--cta);
            }
        }

        .recompenses {
            .recompenses_title {
                padding: 30px 10px 0;
            }
            .recompenses_content {
                margin: -50px 0 0;
                padding: 70px 10px;

                .recompense_single:nth-child(odd), .recompense_single:nth-child(even) {
                    flex-direction: column;
                    margin: 30px 0 0;

                    .recompense_single_text {
                        width: 100%;
                        padding: 0;
                        text-align: left;
                        word-break: keep-all;

                        p {
                            font-size: var(--cta);
                            padding: 5px 0 10px;
                        }

                        h3 {
                            font-size: var(--title);
                            padding: 5px 0;
                        }
                    }

                    .recompense_single_image {
                        width: 100%;
                        padding: 0;

                        img {
                            max-width: 300px;
                            min-width: 300px;
                            min-height: 300px;
                            max-height: 300px;
                            object-fit: cover;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }


}