:root {
    --primary-color: #14492C;
    --secondary-color: #E7E5E5;
    --dark-color: #343a40;
    --complementary-color: #FE5E41;
    --logo-color: #BFD65A;
    --white: #FFFFFF;
    --title: 64px;
    --subtitle: 40px;
    --cta: 32px;
    --prestation: 24px;
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

html, body {
    background-color: #fff;
}

hr {
    color: #AEAEAE;
    z-index: 99;
    position: relative;
}


.cta {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: var(--cta);

    &:hover {
        background-color: var(--complementary-color);
        color: var(--secondary-color);
        transition: all 0.3s ease-in-out;
    }
}

.cta_secondary {
    background-color: var(--complementary-color);
    color: var(--white);
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: var(--cta);

    &:hover {
        background-color: var(--logo-color);
        transition: all 0.3s ease-in-out;
    }
}

.primary_text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--title);
    color: var(--white);
}

.primary_text_color {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: var(--title);
    color: var(--primary-color);
}

.primry_desc_color {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: var(--prestation);
    color: var(--primary-color);
} 

@media screen and (max-width: 768px) {
    
    :root {
        --title: 42px;
        --subtitle: 26px;
        --cta: 20px;
        --prestation: 14px;
    }
}