.header_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 60px 0;
    position: sticky;
    top: 0px;
    z-index: 99;
    will-change: transform, opacity;
    img {
        width: 5vw;
    }

    button {
      position: relative;
      z-index: 99;
    }

    .custom-logo-link {
      &.opened {
        opacity: 0;
      }

      will-change: opacity;
    }
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: none;
    display: flex;
    padding: 0; 
  }
  .line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .opened .line {
    will-change: stroke-dasharray, stroke-dashoffset;
  }

  .menu_page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: 9;
    transform: translate(0, 100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    will-change: opacity, transform, background-color;
    .cross_menu_page {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin-right: 60px;
    }

    nav:not(.header_social) {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        left: 170px;
        align-items: center;
        width: 100vw;
        height: 100vh;
        will-change: transform, opacity;
    }

    .overlay-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      gap: 1em;
      flex-direction: column;
      justify-content: center;

      .menu-item {
        list-style: none;
        margin: 20px 0;
        font-size: 138px;
        font-weight: 600;
        text-align: left;
        display: flex;
        
        p {
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          opacity: 0;
          will-change: opacity, transform, clip-path;
          a {
            text-decoration: none;
            color: #ffffff;
            font-family: 'DTGetai', sans-serif;
            mix-blend-mode: multiply;
            transition: all 0.3s ease-in-out;

            &:hover {
              letter-spacing: 0.05em;
              transition: all 0.3s ease-in-out;
              opacity: 0.5;
            }
        }
        }
      }
    }
  }

  .gradient {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #EA6BED, #99F7E0);
    filter: blur(150px);
  }

  .header_social {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;
      margin: 0 16px 16px;
      align-items: center;
      i::before {
        font-size: 32px;
        color: black;
      }
    }
  }


  .margin {
    width: 100%;
    position: relative;

  }

// RESPONSIVE

@media screen and (max-width: 420px){

}

@media screen and (max-width: 600px) and (min-width: 420px){

}

@media screen and (max-width: 768px) and (min-width: 600px) {

}

@media screen and (max-width: 992px) and (min-width: 768px) {

    
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    
}

@media screen  and (max-width: 768px){
  .header_bar {
    .custom-logo-link {
      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    will-change: transform, opacity;
    margin: 0 10px;
  }

  .menu_page {
      nav:not(.header_social) {
        left: 20px;
      }

      .overlay-menu {
        .menu-item {
          font-size: 64px;
        }
      }

      will-change: transform;
      
  }

  .margin {
    .header_bar {
      padding: 20px 15px !important;
    }
  }
}