.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);

    .swiper {
        width: 50%;
        height: 100vh;
        line-height: 115px;
        border-radius: 0 0 15px 15px;
        
        img {
            vertical-align: middle;
            min-height: 100%;
        }
    }

    .home_title {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        h1 {
            font-family: 'Merriweather', serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: var(--title);
            color: var(--secondary-color);
        }
        h2 {
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            font-size: var(--subtitle);
            color: var(--secondary-color);
        }
        
        #discover {
            margin-top: 20px;
            display: block;
            width: 200px;
        }
    }
}
.projects {
    .projects_title {
        margin: 15px;
        display: flex;
        justify-content: space-between;
        h2 {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: var(--title);
            color: var(--primary-color);
        }

        .nav {
            .projet_previous, .projet_next {
                &:hover {
                    cursor: pointer;
                    svg path {
                        stroke: var(--primary-color);
                        transition: all 0.3s ease-in-out;
                    
                    }
                }
                svg path {
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .projects_container {
        margin: 60px 50px 0;
        width: 100%;
        height: 530px;
        .swiper-slide {
            width: 425px;
            height: 530px;
            max-height: 530px;
            border-radius: 15px;
            transition: all 0.3s ease-in-out;
            box-sizing: border-box;

            &:hover {
                transform: scale(1.02);
                transition: all 0.3s ease-in-out;
            }

            .bandeau {
                position: absolute;
                top: 0;
                background-color: var(--white);
                border: 1px solid var(--primary-color);
                border-radius: 15px 15px 0 0;
                width: 100%;
                overflow: hidden;
                p {
                    display: flex;
                    justify-content: space-between;
                    animation: marquee 10s linear infinite;
                    padding: 2px 0;

                    span{
                        font-family: var(--primary-font);
                        color: var(--primary-color);
                        white-space: nowrap;
                        
                        &:after {
                            content: " - ";
                            display: inline-block;
                            width: 20px;
                            text-align: center;
                        }
                }

                }
            }
            img {
                width: 100%;
                height: 100%;
                max-height: 530px;
                object-fit: cover;
                border-radius: 15px;
            }

            .project_content {
                position: absolute;
                bottom: 0;
                padding: 0 0 35px 25px;

                h3 {
                    font-family: var(--primary-font);
                    font-weight: 400;
                    font-size: var(--title);
                    color: var(--white);
                    text-transform: capitalize;
                }

                p {
                    background-color: var(--complementary-color);
                    font-family: var(--primary-font);
                    font-weight: 400;
                    font-size: 25px;
                    color: var(--white);
                    text-align: left;
                    display: inline-block;
                    padding: 4px 20px;
                    margin-top: 5px;

                }
            }
        }

        .swiper-scrollbar {
            position: relative;
            margin: 15px 0;
        }
    }
}

.about {
    margin: 100px 0 0 0;

    & > svg {
        position: absolute;
    }
    .about_title {
        z-index: 99;
        position: relative;
        text-align: right;
        padding: 150px 10px 0;
        h2 {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: var(--title);
            color: var(--white);
        }
    }

    .about_content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        padding: 100px 0 50px;

        .about_text {
            width: 50%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            h3 {
                font-family: var(--primary-font);
                font-weight: 400;
                font-size: 54px;
                color: var(--white);
            }

            p {
                font-family: var(--secondary-font);
                color: var(--white);
                width: 80%;
                line-height: 25px;
                padding: 15px 0;
            }
        }
        .about_image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            img {
                min-height: 560px;
                max-height: 560px;
                height: 560px;
                width: 560px;
                max-width: 560px;
                vertical-align: top;
                object-fit: cover;
                border-radius: 15px;
                position: relative;
            }
        }
    }

    #bottom_shape {
        transform: translateY(-1px);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}