.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);

    .swiper {
        width: 50%;
        height: 100vh;
        line-height: 115px;
        border-radius: 0 0 15px 15px;
        
        img {
            vertical-align: middle;
            min-height: 100%;
        }
    }

    .home_title {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        .ligne{
            width: auto;
            height: fit-content;
            position: relative;
            overflow: hidden;
        }

        h1 {
            font-family: 'Merriweather', serif;
            text-transform: uppercase;
            font-weight: 400;
            font-size: var(--title);
            color: var(--secondary-color);
            transform: translateY(60px);
        }
        h2 {
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            font-size: var(--subtitle);
            color: var(--secondary-color);
            z-index: 2;
        }
        
        #discover {
            margin-top: 20px;
            display: block;
            width: 200px;
        }
    }
}
.projects {
    .projects_title_container {
        margin: 15px;
    }
    .projects_title {
        display: flex;
        justify-content: space-between;
        h2 {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: var(--title);
            color: var(--primary-color);
        }

        .nav {
            .projet_previous, .projet_next {
                &:hover {
                    cursor: pointer;
                    svg path {
                        stroke: var(--primary-color);
                        transition: all 0.3s ease-in-out;
                    
                    }
                }
                svg path {
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .projects_container {
        width: 100%;
        height: 530px;
        .swiper-slide {
            width: 425px;
            height: 530px;
            max-height: 530px;
            border-radius: 15px;
            transition: all 0.3s ease-in-out;
            box-sizing: border-box;

            &:hover {
                transform: scale(1.02);
                transition: all 0.3s ease-in-out;
            }

            .bandeau {
                position: absolute;
                top: 0;
                background-color: var(--white);
                border: 1px solid var(--primary-color);
                border-radius: 15px 15px 0 0;
                width: 100%;
                overflow: hidden;
                p {
                    display: flex;
                    justify-content: space-between;
                    animation: marquee 10s linear infinite;
                    padding: 2px 0;

                    span{
                        font-family: var(--primary-font);
                        color: var(--primary-color);
                        white-space: nowrap;
                        
                        &:after {
                            content: " - ";
                            display: inline-block;
                            width: 20px;
                            text-align: center;
                        }
                }

                }
            }
            img {
                width: 100%;
                height: 100%;
                max-height: 530px;
                object-fit: cover;
                border-radius: 15px;
            }

            .project_content {
                position: absolute;
                bottom: 0;
                padding: 0 0 35px 25px;

                h3 {
                    font-family: var(--primary-font);
                    font-weight: 400;
                    font-size: var(--title);
                    color: var(--white);
                    text-transform: capitalize;
                }

                p {
                    background-color: var(--complementary-color);
                    font-family: var(--primary-font);
                    font-weight: 400;
                    font-size: 25px;
                    color: var(--white);
                    text-align: left;
                    display: inline-block;
                    padding: 4px 20px;
                    margin-top: 5px;

                }
            }
        }

        .swiper-scrollbar {
            position: relative;
            margin: 15px 0;
        }

        .swiper-wrapper {
            margin: 60px 50px 0;
        }
    }
}

.about {
    margin: 100px 0 0 0;
    position: relative;

    & > svg:first-of-type {
        position: absolute;
    }
    .about_title {
        z-index: 99;
        position: relative;
        text-align: right;
        padding: 150px 10px 0;
        h2 {
            font-family: var(--primary-font);
            font-weight: 400;
            font-size: var(--title);
            color: var(--white);
        }
    }

    .about_content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        padding: 100px 0 50px;

        .about_text {
            width: 50%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;

            h3 {
                font-family: var(--primary-font);
                font-weight: 400;
                font-size: 54px;
                color: var(--white);
            }

            p {
                font-family: var(--secondary-font);
                color: var(--white);
                width: 80%;
                line-height: 25px;
                padding: 15px 0;
            }
        }
        .about_image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            img {
                min-height: 560px;
                max-height: 560px;
                height: 560px;
                width: 560px;
                max-width: 560px;
                vertical-align: top;
                object-fit: cover;
                border-radius: 15px;
                position: relative;
            }
        }
    }

    #bottom_shape {
        transform: translateY(-1px);
    }
}

.prestations {
    .prestations_title {
        margin: 15px;
    }

    .prestations_container {
        padding: 60px 15px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        .prestation {
            margin: 0 15px;
            background-color: var(--secondary-color);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 25px;
            border-radius: 15px;

            .prestation_single_title {
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
            }
            h3 {
                font-family: var(--primary-font);
                text-transform: capitalize;
                font-size: var(--prestation);
                margin-left: 15px;
            }

            i {
                font-size: 36px;
            }

            p {
                padding: 25px 0;
                font-family: var(--secondary-font);
                font-size: 20px;
                text-align: left;
                line-height: 22.5px;
                word-break: keep-all;
            }
        }
    }
}

.devis {
    position: relative;
    .devis_title {
        margin: 15px;
        position: relative;
        text-align: right;
        z-index: 99;
        padding: 75px 10px 0;
    }
    svg:first-of-type {
        position: absolute;
        top: 0;
        }

    .devis_content {
        position: relative;
        background-color: var(--complementary-color);

        .wpcf7 {
            display: flex;
            justify-content: center;

            .name {
                display: flex;
                flex-direction: row;
                width: 100%;

                &>p {
                    display: flex;
                    width: 150px;
                    flex: 1;
                    
                    &:first-of-type {
                        margin-right: 15px;
                    }
                }
            }

            input, select, textarea {
                width: 100%;
                padding: 5px;
                border: none;
                margin-top: 2px;
                font-family: var(--primary-font);
                resize: none;

                &:focus {
                    outline: 2px solid var(--primary-color);
                    
                    
                }
            }

            label {
                font-family: var(--primary-font);
                color: var(--white);
                font-size: 24px;
            }

            input[type="submit"]{
                width: 50%;
                float: right;
                background-color: var(--primary-color);
                color: var(--white);
                font-size: var(--prestation);
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: var(--white);
                    color: var(--primary-color);
                    transition: all 0.3s ease-in-out;
                }
            }


            .wpcf7-not-valid-tip {
                font-size: 12px;
                color: var(--primary-color);
                margin-top: 2px;
            }
            
            .pop-up-send {
                position: fixed;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 64px 32px;
                background-color: var(--secondary-color);
                z-index: 99999;
                border: 1px solid var(--primary-color);
                overflow-y: hidden;
                p {
                    font-family: var(--primary-font);
                    color: var(--primary-color);
                    padding: 15px;
                    font-size: var(--prestation);
                }

                a{
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            form.sent .pop-up-send {
                display: flex;
            }

            .wpcf7-response-output {
                display: none;
            }

            p {
                margin-bottom: 15px;
            }

            .range {
                padding-top: 1px;
                .field {
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;

                    input {
                        height: 3px;
                        width: 100%;

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            height: 20px;
                            width: 10px;
                            background-color: var(--primary-color);
                            cursor: grab;
                            border-radius: 20px;
                        }
                    }

                    p {
                        flex: 1;
                    }
                }

                .sliderValue {
                    position: relative;
                    width: 100%;

                    span {
                        position: absolute;
                        width: 100px;
                        color: var(--white);
                        z-index: 1;
                        transform: translateX(-50%);
                        left: 50%;
                        text-align: center;
                        top: -20px;
                        font-family: var(--primary-font);
                        user-select: none;
                    }
                }
            }
        }
    }
}

.contact {

    .contact_title {
        margin: 15px;
    }
    .contact_content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px;
        .left {
            margin-right: 50px;
            .wpcf7 {
                display: flex;
                justify-content: center;
    
                .name {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
    
                    &>p {
                        display: flex;
                        width: 150px;
                        flex: 1;
                        
                        &:first-of-type {
                            margin-right: 15px;
                        }
                    }
                }
    
                input, select, textarea {
                    width: 100%;
                    padding: 5px;
                    border: none;
                    margin-top: 2px;
                    font-family: var(--primary-font);
                    resize: none;
                    outline: 2px solid var(--complementary-color);
                    transition: all 0.3s ease-in-out;
    
                    &:focus {
                        outline: 2px solid var(--primary-color);
                        transition: all 0.3s ease-in-out;
                        
                        
                    }
                }
    
                label {
                    font-family: var(--primary-font);
                    color: var(--complementary-color);
                    font-size: 24px;
                }
    
                input[type="submit"]{
                    width: 50%;
                    float: right;
                    background-color: var(--primary-color);
                    color: var(--white);
                    font-size: var(--prestation);
                    transition: all 0.3s ease-in-out;
                    outline: none;
    
                    &:hover {
                        background-color: var(--white);
                        color: var(--primary-color);
                        transition: all 0.3s ease-in-out;
                        outline: 2px solid var(--complementary-color);
                    }
                }
    
    
                .wpcf7-not-valid-tip {
                    font-size: 12px;
                    color: var(--primary-color);
                    margin-top: 2px;
                }
                
                .pop-up-send {
                    position: fixed;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 64px 32px;
                    background-color: var(--secondary-color);
                    z-index: 99999;
                    border: 1px solid var(--primary-color);
                    overflow-y: hidden;
                    p {
                        font-family: var(--primary-font);
                        color: var(--primary-color);
                        padding: 15px;
                        font-size: var(--prestation);
                    }
    
                    a{
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
    
                form.sent .pop-up-send {
                    display: flex;
                }
    
                .wpcf7-response-output {
                    display: none;
                }
    
                p {
                    margin-bottom: 15px;
                }
        }
    }
    .right {
        li {
            padding: 5px;
            a {
                font-family: var(--primary-font);
                font-size: var(--prestation);
                text-decoration: none;
                color: var(--primary-color);
            }
        }
    }
}
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        padding-bottom: 50px;

        .swiper {
            width: 350px;
            height: 350px;
            max-height: 50vh;
            border-radius: 15px;
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .home_title {
            width: 350px;
            padding: 150px 15px 15px;
            align-content: start;
        }

    }

    .projects {
        overflow: hidden;
        .projects_title_container {
            .nav {
                display: none;
            }
        }
        .projects_container {
            width: 100vw;
            height: 430px;

            .swiper-wrapper {
                margin: 30px 25px 0;
            }

            .swiper-slide {
                width: 325px;
                height: 430px;
                max-height: 430px;
                border-radius: 15px;
                transition: all 0.3s ease-in-out;
                box-sizing: border-box;
            }
        }
    }

    .about {

        .about_title {
            margin: 15px;
            padding: 0;
            top: 50px;
        }
        .about_content {
            flex-direction: column;

            .about_image {
                width: 100%;
                img {
                    min-height: 350px;
                    max-height: 350px;
                    height: 350px;
                    width: 350px;
                    border-radius: 15px;
                }
            }

            .about_text {
                width: 350px;
                padding: 15px 15px 0;

                p {
                    width: 100%;
                }
            }
        }
    }

    .prestations {
        .prestations_container {
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            padding: 0;
            justify-content: center;
            padding: 0 5px 0;
            .prestation {
                margin: 5px;
                padding: 10px;

                p {
                    font-size: 12.5px;
                    line-height: 15px;
                    padding: 10px 0;
                }
            }
        }
    }

    .devis {

        svg:first-of-type {
            top: 70px;
        }
        .devis_title {
            margin: 15px;
            padding: 0;
            top: 100px;
        }

        .devis_content {
            padding: 150px 0 0;

            .wpcf7 {
                padding: 0 15px;
            }
        }
    }

    .contact {
        padding: 50px 0;
        .contact_content {
            flex-direction: column;
            padding: 25px 15px 0;

            .left {
                margin: 0;
            }

            .right {
                width: 100%;
                text-align: left;
                padding: 50px 0 0;
                ul li a {
                    font-size: var(--subtitle);
                }
            }
        }
    }

    
}

@media screen and (min-width:769px) and (max-width: 1024px) {

    .projects {
        & .projects_container {
            .swiper-slide {
                width: 325px;
                height: 430px;
                max-height: 430px;
                border-radius: 15px;
                transition: all 0.3s ease-in-out;
                box-sizing: border-box;
            }
        }
    }

    .about {
        .about_title {
            padding: 55px 15px 0;
        }

        .about_content {
            margin: 35px 0 0;
            .about_image {
                width: 50%;
                img {
                    min-height: 350px;
                    max-height: 350px;
                    height: 350px;
                    width: 350px;
                    border-radius: 15px;
                }
            }

            .about_text {
                width: 50%;
                padding: 15px 15px 0;

                p {
                    width: 100%;
                }
            }
        }
            
        }

        .prestations {
            .prestations_container {
                grid-template-columns: repeat(2, 1fr);
                gap: 0;
                padding: 0;
                justify-content: center;
                padding: 0 5px 0;
                .prestation {
                    margin: 5px;
                    padding: 10px;
                }
            }
        }

        .devis {
            svg:first-of-type {
                top: 27px;
            }

            .devis_title {
                padding: 80px 0 0;
                margin: 0 15px;
            }

            .devis_content {
                padding: 20px 0 0;
            }
        }
}
    