.galerie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;


    .galerie_item {
            img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 15px;
    }
    }

}

.layout_item_titre_et_description {
    .title_desc {
        width: 1280px;
        margin: 0 auto;

        .primary_text_color {
            text-transform: uppercase;
        }
}
}

.video_item {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.item_titre_et_description_image {
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: 0 auto;

    h3 {
        text-transform: uppercase;
    }

    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

    .item_titre_et_description_image_title {
        width: 50%;
        padding: 10px;
    }

    .item_titre_et_description_image_image {
        width: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        img {
            border-radius: 15px;
        }
    }
}