.top_titles {
    h1 {
        font-family: 'DTGetai', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        font-size: 96px;
        padding-top: 20px;
        color: white;
    }

    p {
        font-family: "Gotham Thin";
        font-size: 48px;
        color: white;
        font-style: italic;
    }
}

.marquee_projects {
    transform: rotate(6deg) translate(-277px, 169px);
    width: 200%;
    border: 1px solid black;
    position: relative;
}

.top_image {
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0% 100%);
}


.layout_texte {
    color: white;
    margin: 20px 0;
    font-family: "Gotham", sans-serif;
    max-width: 1024px;
    margin: 50px auto 0;

    h1 {
        font-family: "Gotham", sans-serif;;
        font-weight: 800;
        font-size: 32px;
    }

    h2 {
        font-family: "Gotham", sans-serif;;
        font-weight: 800;
        font-size: 24px;
    }

    p {
        font-family: "Gotham", sans-serif;;
        font-weight: 400;
    }

    ul {
        list-style: circle;
        
    }

    ol {
        list-style: decimal;
    }

    a {
        text-decoration: underline;
        color: white;
        font-weight: bold;
    }

}

.layout_galerie {
    .grid {
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        padding: 50px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        grid-auto-flow: dense;
        grid-gap: 20px;

        .item {
            position: relative;
            background-color: white;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            &:hover img {
                transform: scale(1.1);
            }

        &:nth-child(5n - 1) {
            grid-column: span 2;
            grid-row: span 2;
        }
        }
    }
}

@media (max-width: 768px){
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;

        .item {
        &:nth-child(5n - 1) {
            grid-column: unset !important;
            grid-row: unset !important;
        }}
    }
}


@media screen and (max-width: 420px){
    .marquee_projects{
        transform: rotate(24deg) translate(-277px, 169px);
    }
}

@media screen and (max-width: 600px) and (min-width: 420px){
        .marquee_projects{
        transform: rotate(14deg) translate(-277px, 169px);
    }

}

@media screen and (max-width: 768px) and (min-width: 600px) {
        .marquee_projects{
        transform: rotate(13deg) translate(-277px, 169px);
    }

}

@media screen and (max-width: 992px) and (min-width: 768px) {

    
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    
}

@media screen  and (max-width: 768px){

    .top_project {
        .top_titles {
            padding: 0 10px;
            h1 {
                font-size: 48px;
            }

            p {
                font-size: 24px;
            }
        }
    }

    .layout_texte {
        padding: 0 20px;
    }


}