.projet {
    position: relative;
    svg {
        position: relative;
        top: 0;
    }

    .projet_title {
        background-color: var(--primary-color);
        padding: 50px 10px;

        h2 {
            z-index: 1;
            position: relative;
            text-transform: uppercase;
        }

        p {
            z-index: 1;
            position: relative;
            font-family: var(--secondary-font);
            color: var(--white);
            font-size: var(--prestation);
            padding-top: 5px;
        }
    }
}

@media screen and (max-width: 768px) {
    .projet {
        svg {
            top: 0;
            position: relative;
        }

        .projet_title {
            padding: 30px 10px;

            h2 {
                font-size: var(--title);
            }

            p {
                font-size: var(--prestation);
            }
        }
    }



}